* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: black;
 color: aliceblue;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size:  30px;
 font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contForm{
    background-color: rgba(117, 190, 218, 0.5);
        text-align: center;
border-radius: 30%;
padding: 20px;
margin: 1%;
}
.contForm h2 {
    /* color:aliceblue; */
    /* text-shadow:1px 1px 2px black; */
    font: 50px sans-serif;
}
.contForm input{
    margin: 2% 24%;
border-radius:20px;
padding: 2px 14px;}
.contForm div{
    position: relative;
    /* background-color: #fff; */
}

form{background-color: black;
display: flex;
flex-direction: column;
margin: 5% 20%; /* 20px/50px */
border-radius: 30%;
box-shadow: 4px 4px 22px 4px;
}
.c h2{
    /* position: absolute;


 top: 0;
 bottom: 0;
left: 0;
right: 0; */}
.contForm input:hover>h2:hover{left: 1; background-color: brown;}
.fR{
    
    visibility: hidden;
  
} 
.fR .reg{
    text-shadow: 0px 0px 115px rgb(7, 92, 5);
    visibility: visible;
    border-radius: 70%;
    margin: 100px;
}
.mostrar:hover>.fR {visibility: visible; 
background-color: rgba(95, 252, 10, 0.04);
color: black;
/* text-shadow:0px 0px 100px rgb(233, 187, 36); */
}


.contBtn{
  display: flex; 
  background-color: rgba(255, 89, 0, 0.069);
  justify-content: space-between;
  margin: 1px 30%;
}


.btn {
    position: relative;
    display: block;
    height: 77px;
    max-width:  400px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    font-size: 28px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #20e2d7;
    /* margin: 15px 38%; */
    z-index: 0;
    font-weight: 200;
    cursor: pointer;
border-radius: 28px;
padding: 1%;
    /* top: 0;
    left: 0;
    right: 1;
    bottom: 1; */
  }
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #20e2d7;
    transition: all 500ms ease;
    z-index: -1;
  }
  .btn--1::before {
    width: 0;
    height: 100%;
  }
  .btn--1:hover {
    color: #434343;
  }
  .btn--1:hover::before {
    width: 100%;
  }
  .btn--2:hover {
    background-color: #20e2d7;
    box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
    color: #434343;
  }
  .btn--3:hover {
    animation: shadow-pulse 1000ms 1;
    background-color: #20e2d7;
    color: #434343;
  }
  .btn--4::before {
    left: -520px;
    right: 0;
    width: 100%;
    height: 150%;
    transition: all 750ms ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
  }
  .btn--4:hover::before {
    left: 520px;
  }
  
  @keyframes shadow-pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
    }
    100% {
      box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
  }

  /*  Efecto car */

  .fond{
    /* position:absolute; */
    /* padding-top:85px; */
    top:0;left:0; right:0;bottom:0;
    background-color:#65C6BB;}
  
  .carreaux_presentation_light
  {
    /* display:table-cell; */
     /* width:250px;  */
    /* height:300px;  */
    background-size:cover;
    overflow: hidden;
    /* position: relative; */
  }
  .carreaux_presentation_light .shadow_swhow_mini
  {
    background-color:rgba(19,30,33,0.4);
    /* position: absolute; */
    z-index: 1000;
    top:0;left:0;right:0;bottom:0;
    
  }
  .carreaux_presentation_light:hover .shadow_swhow_mini
  {
    background-color:rgba(16,23,41,0);
  }
  .carreaux_presentation_light .deroul_titre
  {
    /* position: absolute; */
    text-transform: uppercase;
    font-family: 'Roboto'; 
    /* padding: 7px; */
    z-index: 1000;
    top:60%;left:-80%;
    color:#ffffff;
    font-weight: 300;
    font-size: 13px; width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  
  }
  .carreaux_presentation_light:hover .deroul_titre
  {
    background-color:#1e494430; 
    left:10%; right: 1;
    
  }
  .carreaux_presentation_light .deroul_soustitre
  {
    /* position: absolute; */
    font-family: 'Roboto';
    /* padding: 5px; */
    z-index: 1000;
    top:60%;right:-85%;
    margin-top: 25px;
    color:#ffffff;
    font-weight: 300;
    font-size: 11px; width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  }
  .carreaux_presentation_light:hover .deroul_soustitre
  {
     background-color:#417c743c;right:10%; 
      margin:  2px 20%;
  }
  .divUser{
    position: sticky;
    top: 0;
 
   
    background-color: brown;
  }